[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "==0.115.6"}
uvicorn = {extras = ["standard"], version = "==0.34.0"}
gunicorn = "==22.0.0"
sqlmodel = ">=0.0.14,<0.1.0"
psycopg2-binary = "*"
bcrypt = "==4.0.1"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.13"

[scripts]
create-admin = "python scripts/create_admin.py"
