[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "==0.115.6"}
uvicorn = {extras = ["standard"], version = "==0.34.0"}
gunicorn = "==22.0.0"

[dev-packages]

[requires]
python_version = "3.13"
